@font-face {
  font-family: iransans;
  src:url(../fonts/iransansweb.woff2) format('woff2');
}

* {
  direction: rtl;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: iransans;
}

/* از بین بردن خط زیر لینک ها */
a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* از بین بردن استایل لیست ها */
ul {
  list-style-type: none;
}

/* بک گراند ها */
.bg-dark {
  background-color: #232227;
}

.form-background {
  background-image: url(../images/backgrounds/formBackground.jpg);
}

/* دکمه ها */
.btn-main {
  background-color: #fedb01;
}
.btn-main:hover {
  background-color: #d8bb00;
}

/* لوگوی */
.navbar-brand img {
  width: 90px;
  transition: all 0.5s;
}

.navbar-brand img:hover {
  transform: scale(1.2, 1.2);
}

/* لینک های هدر */
.nav-link:hover {
  color: #fedb01 !important;
}

.topbar div {
  background-image: url(../images/backgrounds/hand-using-gadgets-laptop-top-view-blank-screen-with-copyspace-minimalistic-style-technologies-modern-marketing-negative-space-ad-flyer-yellow-color-background-stylish-trendy.jpg);
  background-size: cover;
  background-position: center;
}

/* عکس داخل کارت های خبر */
.card img {
  transition: all 1s;
}

.card:hover img {
  transform: scale(1.1, 1.1);
}

.card-txt {
  text-align: justify;
  font-size: 14px;
}

.text-justify {
  text-align: justify;
}